board {
  background-color: rgba(255, 255, 255, 0.5);
  -o-border-image: url("../assets/img/muurtje500.png") 7.1% round;
     border-image: url("../assets/img/muurtje500.png") 7.1% round;
  border-style: solid;
  border-width: 2.7vmin;
  -webkit-box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.9);
          box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.9);
  height: 80vmin;
  overflow: hidden;
  pointer-events: auto;
  position: relative;
  width: 80vmin;
}
gameContainer {
  border: 2px solid #333;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 128vmin;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transform-origin: 0 0 0;
          transform-origin: 0 0 0;
  -webkit-transform: translate3d(0, 0, 0) scale(0.83333333, 0.83333333);
          transform: translate3d(0, 0, 0) scale(0.83333333, 0.83333333);
  -webkit-transition: all 1000ms ease-in-out;
  transition: all 1000ms ease-in-out;
  will-change: transform;
  width: 128vmin;
  zoom: 1;
}
header h1 {
  font-family: 'Faster One', cursive;
  font-size: 7vmin;
  height: 8vmin;
  letter-spacing: 0.2vmin;
  text-align: justify;
  -moz-text-align-last: justify;
       text-align-last: justify;
  white-space: nowrap;
}
header h1 a {
  color: #3c332c;
  pointer-events: auto;
  text-decoration: none;
}
header h1 player {
  position: static;
  display: inline-block;
  width: 4vmin;
  height: 4vmin;
  margin: -0.5vmin 1.5vmin 0;
}
header h1 player.red {
  background-color: red;
}
header h1 player.limegreen {
  background-color: limegreen;
}
header h1 player.badBoy {
  margin: 0.2vmin 5.3vmin;
}
help {
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  height: 100%;
  opacity: 0;
  pointer-events: auto;
  position: relative;
  -webkit-transform: scale(0) rotate(180deg);
          transform: scale(0) rotate(180deg);
  /*transform       : rotate(180deg);*/
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  width: 100%;
  z-index: 1;
}
help.show {
  opacity: 1;
  -webkit-transform: scale(1) rotate(0);
          transform: scale(1) rotate(0);
  /*transform: rotate(0);*/
}
help img {
  height: 100%;
  width: 100%;
}
help text {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
}
help text p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  font-size: 6vmin;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  line-height: 1;
  width: 70%;
  font-family: "Cabin Sketch", sans-serif;
}
help text p.middle {
  margin: 8vmin 0;
}
help text p.bottom {
  margin-bottom: 5vmin;
}
help text p a {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}
maze {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.cell {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  position: relative;
  border: 0.7vMin dashed rgba(96, 52, 24, 0.7);
  margin: -0.35vmin;
  text-align: center;
  line-height: 2.8;
}
.cell::before {
  content: '';
  position: absolute;
  top: -0.7vMin;
  left: -0.7vMin;
  z-index: -1;
  width: 100%;
  height: 100%;
  border: 0.7vMin solid transparent;
  opacity: 0.4;
  border-color: inherit;
}
.wall0000 {
  border-color: transparent transparent transparent transparent;
}
.wall0001 {
  border-color: transparent transparent transparent rgba(96, 52, 24, 0.7);
}
.wall0010 {
  border-color: transparent transparent rgba(96, 52, 24, 0.7) transparent;
}
.wall0011 {
  border-color: transparent transparent rgba(96, 52, 24, 0.7) rgba(96, 52, 24, 0.7);
}
.wall0100 {
  border-color: transparent rgba(96, 52, 24, 0.7) transparent transparent;
}
.wall0101 {
  border-color: transparent rgba(96, 52, 24, 0.7) transparent rgba(96, 52, 24, 0.7);
}
.wall0110 {
  border-color: transparent rgba(96, 52, 24, 0.7) rgba(96, 52, 24, 0.7) transparent;
}
.wall0111 {
  border-color: transparent rgba(96, 52, 24, 0.7) rgba(96, 52, 24, 0.7) rgba(96, 52, 24, 0.7);
}
.wall1000 {
  border-color: rgba(96, 52, 24, 0.7) transparent transparent transparent;
}
.wall1001 {
  border-color: rgba(96, 52, 24, 0.7) transparent transparent rgba(96, 52, 24, 0.7);
}
.wall1010 {
  border-color: rgba(96, 52, 24, 0.7) transparent rgba(96, 52, 24, 0.7) transparent;
}
.wall1011 {
  border-color: rgba(96, 52, 24, 0.7) transparent rgba(96, 52, 24, 0.7) rgba(96, 52, 24, 0.7);
}
.wall1100 {
  border-color: rgba(96, 52, 24, 0.7) rgba(96, 52, 24, 0.7) transparent transparent;
}
.wall1101 {
  border-color: rgba(96, 52, 24, 0.7) rgba(96, 52, 24, 0.7) transparent rgba(96, 52, 24, 0.7);
}
.wall1110 {
  border-color: rgba(96, 52, 24, 0.7) rgba(96, 52, 24, 0.7) rgba(96, 52, 24, 0.7) transparent;
}
.wall1111 {
  border-color: rgba(96, 52, 24, 0.7) rgba(96, 52, 24, 0.7) rgba(96, 52, 24, 0.7) rgba(96, 52, 24, 0.7);
}
/* .deadEnd, div[class*='path_'] {
    background-color: yellow;
}

.fork {
    background-color: gold;
} */
players {
  display: block;
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
}
players .badBoy {
  -webkit-transform: translate3d(57.6vmin, 64vmin, 0px) rotate(90deg);
          transform: translate3d(57.6vmin, 64vmin, 0px) rotate(90deg);
}
player {
  position: absolute;
  display: block;
  left: 0.3vmin;
  top: 0.3vmin;
  width: 5.5vmin;
  height: 5.5vmin;
  border-radius: 3vmin;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: 200%;
  background-image: url("../assets/img/smileys.png");
  -webkit-transform: translate3d(0, 0, 0) rotate(90deg);
          transform: translate3d(0, 0, 0) rotate(90deg);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  will-change: transform;
  zoom: 1;
}
player.male {
  background-position: 0 100%;
}
player.male.step {
  background-position: 100% 100%;
}
player.female {
  background-position: 0 0;
}
player.female.step {
  background-position: 100% 0;
}
player.badBoy {
  background-image: url("../assets/img/bad.png");
  background-size: 110% !important;
  background-position: center center !important;
  background-color: transparent !important;
  -webkit-box-shadow: -5px 0 10px -1px rgba(0, 0, 0, 0.4);
          box-shadow: -5px 0 10px -1px rgba(0, 0, 0, 0.4);
}
player:not(.badBoy) {
  -webkit-box-shadow: 0 0 7px 0 #000000, inset 0 0 15px 0 rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 7px 0 #000000, inset 0 0 15px 0 rgba(0, 0, 0, 0.7);
}
player.up {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
player.right {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
player.down {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
player.left {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
status {
  width: 86vmin;
}
status line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
status line.message {
  margin-top: 1vmin;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
status h3,
status h4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  pointer-events: all;
  font-family: "Cabin Sketch", sans-serif;
  font-size: 4.5vmin;
  padding: 0.5vmin 0 0;
}
status h4 {
  font-size: 3.5vmin;
}
win {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transform: scale(0.0001) rotate(180deg);
  transform: scale(0.0001) rotate(180deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
  -webkit-transform: translateZ(0);
  transform: translateY(0);
  opacity: 0;
  font-family: "Cabin Sketch", sans-serif;
}
win > *,
win a {
  color: whitesmoke;
}
win.show {
  opacity: 1;
  -webkit-transform: scale(1) rotate(0);
  transform: scale(1) rotate(0);
}
win.show h4 a {
  pointer-events: auto;
}
win h2 {
  color: whitesmoke;
  font-size: 10vmin;
  font-style: normal;
  font-variant: small-caps;
  line-height: 10vmin;
  padding-top: 5vmin;
  text-align: center;
  -webkit-transform: scale(0.0001);
  transform: scale(0.0001);
  opacity: 0;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  display: none;
}
win h2.show {
  display: block;
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
win h2.show a {
  pointer-events: auto;
}
win h2 a {
  cursor: pointer;
  font-size: 15vmin;
  margin-top: 10vmin;
  text-decoration: none;
}
win h4 {
  margin-top: 2vmin;
  padding: 1vmin 0;
}
win h4.show a {
  color: whitesmoke;
  text-decoration: none;
}
* {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 0;
  margin: 0;
  padding: 0;
  pointer-events: none;
}
body,
html {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #E3B32D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  min-height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  width: 100vw;
}
body {
  -webkit-overflow-scrolling: touch;
}
h1,
h3,
h4,
p {
  color: whitesmoke;
  font-style: normal;
  font-variant: small-caps;
  letter-spacing: 2px;
  line-height: 1;
  opacity: 0.9;
  text-transform: uppercase;
}
h3 {
  font-size: 4.5vmin;
  padding: 0.5vmin 0 0;
}
a {
  outline: none;
}
.button {
  cursor: pointer;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
