<template>
    <!-- <require from="components/players.css"></require> -->
    <player repeat.for="player of players"
            if.bind="(player.name != 'badBoy')||((player.name == 'badBoy') && (level > 2))"
            class="${player.name} 
                   ${player.step ? 'step' : 'noStep'} ${lastDirection}
                   ${$odd ? 'female' : 'male'}"
            css="transform: translate3d(${(player.x+player.xCheer)*6.4}vmin, ${(player.y+player.yCheer)*6.4}vmin, 0) rotate(${player.angle}deg); background-color: ${player.name}"></player>
</template>