players {
    display : block;
    position: relative;
    top     : 0;
    width   : 100%;
    height  : 100%;
}

player {
    position         : absolute;
    left             : .25vmin;
    top              : .25vmin;
    width            : 5.5vmin;
    height           : 5.5vmin;
    border-radius    : 3vmin;
    box-sizing       : border-box;
    transition       : transform .2s ease-in-out;
    background-image : url("../img/smileys.png");
    background-repeat: no-repeat;
    background-size  : 200%;
}

player.black {
    background-position: 0 0;
}

player.black.step {
    background-position: 100% 0;
}

player.white {
    background-position: 0 100%;
}

player.white.step {
    background-position: 100% 100%;
}

player.up {
    -webkit-transform: rotate(-90deg);
    -ms-transform    : rotate(-90deg);
    transform        : rotate(-90deg);
}

player.right {
    -webkit-transform: rotate(0);
    -ms-transform    : rotate(0);
    transform        : rotate(0);
}

player.down {
    -webkit-transform: rotate(90deg);
    -ms-transform    : rotate(90deg);
    transform        : rotate(90deg);
}

player.left {
    -webkit-transform: rotate(180deg);
    -ms-transform    : rotate(180deg);
    transform        : rotate(180deg);
}
