win {
    display         : flex;
    justify-content : center;
    align-items     : center;
    height          : 100%;
    background-color: rgba(0, 0, 0, .8);
    opacity         : 0;
    transition      : all .5s ease-out;
}

win h2 {
    font-family : "Cabin Sketch", sans-serif;
    font-size   : 15vmin;
    font-style  : normal;
    font-variant: small-caps;
    line-height : 10vmin;
    text-align  : center;
    color       : whitesmoke;
    padding-top : 5vmin;
    transform   : scale(0.0001);
    transition  : all .5s ease-out;
}

win h2 a {
    font-size      : 10vmin;
    color          : whitesmoke;
    cursor         : pointer;
    text-decoration: none;
    margin-top     : 10vmin;
}

win.show {
    opacity: 1;
}

win.show h2 {
    transform: scale(1);
}
