<template class="${(showWin || showLost) ? 'show' : ''}">
    <h2 class="${showWin ? 'show' : ''}"
        title="Or press Space / Enter for next level">Yo!<br>
        <a href="javascript:void(0);"
           click.delegate="restart($event)"
           touchstart.delegate="restart($event)">next level</a>
    </h2>
    <h2 class="${showLost ? 'show' : ''}">Bummer!<br>
        <a href="javascript:void(0);"
           click.delegate="restart($event)"
           touchstart.delegate="restart($event)">Try again</a>
    </h2>
    <h4 class="${(showWin || showLost) ? 'show' : ''}">
        <a href="http://www.ashware.nl"
           alt="Amazor by ashWare"
           target="_blank">Amazor by ashWare</a>
    </h4>
</template>