* {
    -moz-user-select   : none;
    -ms-user-select    : none;
    -webkit-user-select: none;
    border             : 0;
    margin             : 0;
    padding            : 0;
    pointer-events     : none;
}

body, html {
    -webkit-box-align    : center;
    -ms-flex-align       : center;
    align-items          : center;
    background-color     : #E3B32D;
    display              : -webkit-box;
    display              : -ms-flexbox;
    display              : flex;
    -webkit-box-orient   : vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction   : column;
    flex-direction       : column;
    height               : 100vh;
    -webkit-box-pack     : center;
    -ms-flex-pack        : center;
    justify-content      : center;
    overflow             : hidden;
    width                : 100vw;
}

body {
    -webkit-overflow-scrolling: touch;
    font-family               : "Cabin Sketch", sans-serif;
}

h1, h3, p {
    color         : whitesmoke;
    /* font-family   : 'Bungee Shade', cursive; */
    font-style    : normal;
    font-variant  : small-caps;
    letter-spacing: 2px;
    line-height   : 1;
    opacity       : .9;
    text-transform: uppercase;
}

h3 {
    font-size: 4.5vmin;
    padding  : .5vmin 0 0;
}

a {
    outline: none;
}

.button {
    cursor: pointer;
}
