* {
    -moz-user-select   : none;
    -ms-user-select    : none;
    -webkit-user-select: none;
    border             : 0;
    margin             : 0;
    padding            : 0;
    pointer-events     : none;
}

body, html {
    align-items     : center;
    background-color: #E3B32D;
    display         : flex;
    flex-direction  : column;
    height          : 100vh;
    justify-content : center;
    overflow        : hidden;
    width           : 100vw;
}

body {
    -webkit-overflow-scrolling: touch;
    font-family               : "Cabin Sketch", sans-serif;
}

h1, h3, p {
    color         : whitesmoke;
    /* font-family   : 'Bungee Shade', cursive; */
    font-style    : normal;
    font-variant  : small-caps;
    letter-spacing: 2px;
    line-height   : 1;
    opacity       : .9;
    text-transform: uppercase;
}

h1 {
    font-family    : 'Faster One', cursive;
    font-size      : 7vmin;
    height         : 8vmin;
    letter-spacing : .2vmin;
    text-align     : justify;
    text-align-last: justify;
    white-space    : nowrap;
    width          : 86vmin;
}

h1 a {
    color          : #3c332c;
    pointer-events : auto;
    text-decoration: none;
}

h1 player {
    position: static;
    display : inline-block;
    width   : 4vmin;
    height  : 4vmin;
    margin  : -3px 10px 0;
}

h3 {
    font-size: 4.5vmin;
    padding  : .5vmin 0 0;
}

a {
    outline: none;
}

.button {
    cursor: pointer;
}
